/* Color */

:root {
  /* Primary */
  --sunrise: rgb(255, 98, 41); /* Primary call to action color */
  --sky: #129fe6; /* Secondary call to action color */
  --daylight: rgb(245, 245, 245);
  --bright: rgb(255, 255, 255);
  --gray: rgb(194, 194, 194);
  --midnight: rgb(17, 17, 17);
}

* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

*:active {
  outline: none;
}

button {
  color: var(--bright);
  background-color: var(--sky);
  border-radius: 25px;
  border: none;
  padding: 0.5rem 0.5rem;
}

body {
  background-color: #f1f1f1;
  font-size: 16px;
  // font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: 'Balsamiq Sans', 'Open Sans', Arial;
  font-weight: 600;
  line-height: 1.6rem;
  letter-spacing: 0.05rem;
  scroll-behavior: smooth;
  text-align: center;
}

a {
  text-decoration: none;
}

@keyframes donut-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

//Navbar

.navbar {
  position: fixed;
  min-height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--sky);
  h1 {
    font-weight: 500;
    color: var(--sunrise);
    font-size: 3rem;
    margin-left: 9rem;
  }
  .link-container {
    display: flex;
    align-items: center;
    .auth-links a {
      padding: 0 1rem;
      color: var(--sunrise);
      font-weight: 800;
      font-size: 1.3rem;
    }
    .auth-links img {
      width: 2rem;
      padding: 0 1rem;
    }
  }
}

//Signup

.login-form {
  margin: 0 auto;
  max-width: 20rem;
  padding-top: 8rem;
  // display: flex;
  // flex-direction: column;
  font-size: 1.3rem;

  .auth-select {
    margin: 2rem 0;
    label {
    }
    select {
      background-color: var(--sunrise);
      border: none;
      border-radius: 25px;
      padding: 0.3rem 0.5rem;
      option {
      }
    }
  }
  .auth-input {
    text-align: left;
    margin: 0.5rem 0;
    label {
    }
    input {
      border: none;
      border-radius: 25px;
      font-size: 1.2rem;
      padding: 0 0.3rem;
    }
  }
  .upload {
    padding-top: 2rem;
    label {
    }
    input {
      background-color: var(--sunrise);
      border: none;
      border-radius: 25px;
      padding: 0.3rem 0.5rem;
    }
    .donut {
      display: inline-block;
      border: 4px solid rgba(0, 0, 0, 0.1);
      border-left-color: var(--sky);
      border-radius: 50%;
      width: 40px;
      height: 40px;
      animation: donut-spin 1.2s linear infinite;
    }
  }
  button {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
  }
}

//Baby Profile

.profile-container {
  padding-top: 10rem;
  img {
    max-width: 50rem;
  }
}

//Friend Profile

.friend-profile-container {
  padding-top: 10rem;
}
